[unit]
Description=uWSGI items rest

[Service]
#Environment=DATABASE_URL=postgres://postgres:xxxxxx@awsdb.ciwv122wr9fg.ap-south-1.rds.amazonaws.com:5432/rest_api
ExecStart=/usr/share/nginx/html/flask_rest/venv/bin/uwsgi --master --emperor /usr/share/nginx/html/flask_rest/uwsgi.ini --die-on-term --uid ec2-user --gid ec2-user --logto /usr/share/nginx/html/flask_rest/log/emperor.log
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target

